*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  min-height: 100px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.result {
  width: 711px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  height: 54px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  border: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid white;
  margin-top: 1px;
  margin-left: 1px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  top: 1px;
  left: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__label:has(.search-form__textfield) {
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.search-form__label:focus {
  border: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 2px;
}

.search-form__fieldset {
  max-width: 225px;
  height: 54px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: none;
}

.search-form__textfield {
  width: 225px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: 1px solid #ffffff;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  height: 34px;
  text-align: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  padding: 0;
}

button:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:active {
  background: rgba(255, 255, 255, 0.5);
}

.button:focus-visible {
  border: 4px double #ffffff;
}

.search-form__submit-button {
  width: 100%;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 534px;
  gap: 26px;
  align-items: flex-start;
}

.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 95%;
  text-transform: uppercase;
  color: white;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid white;
}

.content__card-link_current {
  background: rgba(255, 255, 255, 0.5);
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card:active {
  background: rgba(255, 255, 255, 0.5);
}

.content__video-card:hover {
  cursor: pointer;
}

.content__video-card-thumbnail {
  object-fit: cover;
  min-width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.more-button {
  width: 100%;
  height: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
